body {
    font-family: Arial;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.button {
    background-color: #447f4a;
    border: none;
    color: rgb(234, 145, 185);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.off{
    background-color: #568c59;
}

.button.active{
    background-color: #ff6b9d;
    color: white;
}